<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>

<div class = "small-2 columns donationtitle"><p><br></p></div>
<div class = "small-4 columns contacttitle">店家列表StoreList</div>
<div class = "small-6 columns donationtitle"><p><br></p></div>

<div class = "small-2 columns"><br></div>
<div class = "small-3 columns line"></div>
<div class = "small-7 columns"><br></div>


<div class = "small-3 columns AADD">搜索商品</div>
<div class = "small-3 columns"><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search For Merchandise" title="Type in a name"></div>
<div class = "small-6 columns"><br></div>
<div class = "small-12 columns"></div>

<div class = "row">
<div class = "small-1 columns"><br></div>
<div class = "small-2 columns addressfont">商品種類</div>
<div class = "small-3 columns addressfont">店家地址</div>
<div class = "small-2 columns addressfont">店家城市</div>
<div class = "small-1 columns"><p><br></p></div>
<div class = "small-1 columns"><p><br></p></div>
<div class = "small-2 columns"><p><br></p></div>
</div>

<div class = "small-12 columns">
 {{#if dbresponse}}
        {{#all dbresponse}}
<ul class="myUL row">
    <li class = "small-1 columns"><br></li>
    <li class = "small-2 columns store-name">{{storeName}}</li>
    <li class = "small-3 columns">{{storeAddress}}</li>
    <li class = "small-2 columns">{{storeCity}}</li>
    <li class = "small-1 columns textdec"><a href = "#"></a>詳細信息</li>
    <li class = "small-2 columns textdec"><a href = "http://maps.google.com/?q={{storeAddress}}">Google Map</a></li>
    <li class = "small-1 columns "><p><br></p></li>
   


</ul>
    
{{/all}}
 {{/if}}

</div>
