<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>

<div class = "small-2 columns donationtitle"><p><br></p></div>
<div class = "small-4 columns contacttitle">聯繫方式Contact</div>
<div class = "small-6 columns donationtitle"><p><br></p></div>

<div class = "small-2 columns"><br></div>
<div class = "small-3 columns line"></div>
<div class = "small-7 columns"><br></div>

<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>


<div class = "small-6 columns contactemail"><p>如果您有任何疑問，請發郵件至我們的的郵箱。<br>If You Have Any Question, <br>Feel Free To Contact Us Through The Following Email.</p><br><br><br><p>發送郵件SendEmail:
<a href="mailto:happykingdomoofficial@gmail.com?Subject=Hello%20again" target="_top">點擊此處</a>
</p></div>

<div class = "small-6 columns contactinfo"><p><b>幸福國度HappyKingdom</b><br><br>happykingdomoofficial@gmail.com<br></div>

<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>






