<div class = "small-6 columns contactemail"><p>如果您有任何疑問，請發郵件至我們的的郵箱。<br>If You Have Any Question, <br>Feel Free To Contact Us Through The Following Email.</p><br><br><br><p>發送郵件SendEmail:
<a href="mailto:happykingdomoofficial@gmail.com?Subject=Hello%20again" target="_top">點擊此處</a>
</p></div>

<div class = "small-5 columns contactinfo">
	

    <h4 class="tag"><b>聯繫方式（目前正在測試，尚未開放）</b></h4>
<div id="form">

<form id="waterform" method="post">

<div class="formgroup row" id="name-form">
    <b>名字</b>: <input type="text" id="name" name="name">
</div>

<div class="formgroup row" id="email-form">
    <b>郵箱</b>：<input type="email" id="email" name="email">
</div>

<div class="formgroup row" id="message-form">
    <b>信息</b>：<input type="text" id="message" name="message">
</div>
     <input  id="button1" type="submit" value="發送信息">
</form>
</div>
</div>

<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>






