<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>

<div class = "small-2 columns donationtitle"><p><br></p></div>
<div class = "small-4 columns contacttitle">詳細信息DetailedInfo</div>
<div class = "small-6 columns donationtitle"><p><br></p></div>

<div class = "small-2 columns"><br></div>
<div class = "small-3 columns line"></div>
<div class = "small-7 columns"><br></div>


<div class = "small-2 columns"><p><br></p></div>
<div class = "small-3 columns DetailedPhoto"><img src ="#" alt="Image Function Is Not Available Now. Sorry For The Inconvenience. "></div>
<div class = "small-1 columns"><p><br></p></div>
<div class = "small-3 columns">
 {{#if dbresponse}}
    {{#one dbresponse}}
    <div class = "small-12 columns detailedsize">商品種類:</div>
    <div class = "small-2 columns"><p><br></p></div>
    <div class = "small-10 columns">{{storeName}}</div>
    <div class = "small-12 columns detailedsize">店家地址:</div>
    <div class = "small-2 columns"><p><br></p></div>
    <div class = "small-10 columns">{{storeAddress}}</div>
    <div class = "small-12 columns detailedsize">店家城市：</div>
    <div class = "small-2 columns"><p><br></p></div>
    <div class = "small-10 columns">{{storeCity}}</div>
    <div class = "small-12 columns detailedsize">店家概述：</div>
    <div class = "small-2 columns"><p><br></p></div>
    <div class = "small-10 columns">{{storeDescription}}</div>
    {{/one}}
 {{/if}}
</div>
<div class = "small-3 columns"><p><br></p></div>