<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>

<div class = "small-2 columns donationtitle"><p><br></p></div>
<div class = "small-4 columns contacttitle">上傳地址SubmitAddress</div>
<div class = "small-6 columns donationtitle"><p><br></p></div>

<div class = "small-2 columns"><br></div>
<div class = "small-3 columns line"></div>
<div class = "small-7 columns"><br></div>


<div class = "small-12 columns formwhole">
<form action="/form1" method="POST">

    <div class = "small-6 columns formname"><label>商品種類MerchandiseType</label></div>
    <div class = "small-2 columns "><input type="text" name="storeName" id="storeName"></div>
    <div class = "small-4 columns"></div>
    
    <div class = "small-6 columns formname"><label>店家地址StoreAddress:</label></div>
    <div class = "small-2 columns "><input type="text" name="storeAddress" id="storeAddress"></div>
    <div class = "small-4 columns"></div>
    
    <div class = "small-6 columns formname"><label>店家城市StoreCity:</label></div>
    <div class = "small-2 columns form123">
    <select id='storeCity' name="storeCity">
      <option value="新北市">新北市</option>
      <option value="臺北市">臺北市</option>
      <option value="桃園市">桃園市</option>
      <option value="臺中市">臺中市</option>
      <option value="臺南市">臺南市</option>
      <option value="高雄市">高雄市</option>
      <option value="基隆市">基隆市</option>
      <option value="新竹市">新竹市</option>
      <option value="新竹縣">新竹縣</option>
      <option value="苗栗縣">苗栗縣</option>
      <option value="彰化縣">彰化縣</option>
      <option value="南投縣">南投縣</option>
      <option value="雲林縣">雲林縣</option>
      <option value="嘉義縣">嘉義縣</option>
      <option value="屏東縣">屏東縣</option>
      <option value="宜蘭縣">宜蘭縣</option>
      <option value="臺東縣">臺東縣</option>
      <option value="澎湖縣">澎湖縣</option>
    </select>
<!--       <input type="text" name="storeCity" id="storeCity">-->
    </div>
    <div class = "small-4 columns"></div>
    
    <div class = "small-6 columns formname"><label>照片Photo:</label></div>
    <div class = "small-2 columns "><p>此功能目前正在測試中</p></div>
    <div class = "small-4 columns"></div>
    
    <div class = "small-6 columns formname"><label>店家概述StoreDescription:</label></div>
    <div class = "small-2 columns "><textarea rows= "4" type="text" name="storeDescription" id="storeDescription" class ="storeDescriptiontext"></textarea></div>
    <div class = "small-4 columns"></div>

    <div class = "small-12 columns button1"><input type="submit" value="上傳Submit"></div>

</form>
</div>
<script> $(function(){
        document.getElementsByClassName("footer2")[0].style.position = "relative";
    });
     </script>