<div class="small-12 column"><br></div>
<div class="small-12 column"><br></div>

<div class = "small-2 columns donationtitle"><p><br></p></div>
<div class = "small-4 columns contacttitle">上傳地址SubmitAddress</div>
<div class = "small-6 columns donationtitle"><p><br></p></div>

<div class = "small-2 columns"><br></div>
<div class = "small-3 columns line"></div>
<div class = "small-7 columns"><br></div>
   
<div class = "small-12 columns resultform"><p>謝謝你的上傳。你所上傳信息將經過審核，請給我們幾天時間進行處理。</p><br> Thank You For Your Submission. It May Take Serveral Days To Verify Your Infomation.</div>
    
  
    
