
<div class = "small-2 columns"><p><br></p></div>

<div class = "small-3 columns">
<div class = "small-12 columns attention"><b>網站宗旨：</b>在台灣，有很多殘障人士以及老爺爺老奶奶每個月都靠著微薄的收入在過日子，我希望這些人能被更多社會大眾所知道，讓大家都有機會去幫助與關心他們。大家可以點擊菜單欄上的<b>上傳地址</b>提供需要幫助的地址，讓我們一起為台灣努力.</div>

<div class = "small-12 columns"><p><br></p></div>


<div class = "small-12 columns attention1">本人目前正在研究所進修，網站可能還不是很完善，有任何問題請聯絡我的EMAIL:<br><b>happykingdomofficial@gmail.com</b></div>

</div>



<div class = "small-6 columns"><iframe width="560" height="315" src="https://www.youtube.com/embed/58Z3sYBFrXc" frameborder="0" allowfullscreen></iframe></div>
<div class = "small-1 columns"><p><br></p></div>

<div class = "small-12 columns"><p><br></p></div>

<div class = "small-4 columns"><p><br></p></div>
<div class = "small-4 columns Instruction">
    <img src="images/Instruction1.png" class = "first">
    <img src="images/Instruction2.png" class = "second">
    <img src="images/Instruction3.png" class = "third">
</div>
<div class = "small-4 columns"><p><br></p></div>