<div class="small-12 columns">
    <img src="images/taipei2.jpg"></div>

<div class="small-12 columns style1"><b>網站宗旨</b></div>
<div class="small-3 columns">
    <p>
        <br>
    </p>
</div>
<div class="small-6 columns attention">人生並不總是一帆風順，即使碰到困境，生活也得繼續下去。在台灣，許多老爺爺與老奶奶因為家庭因素，被迫在街邊販賣商品來維持生活。而他們的生意往往十分黯淡，每個月可能賺不到幾千塊台幣。不管是刮風還是下雨，他們都不能提早打烊，而是得繼續拼搏下去。通過這個網站，我希望能搜集到所有台灣需要幫助的老爺爺與老奶奶，讓所以熱心的你們可以幫助他們。</div>
<div class="small-3 columns">
    <p>
        <br>
    </p>
</div>

<div class="small-12 columns style4">
    <p>
        <br>
    </p>
</div>

<div class="small-2 columns">
    <p>
        <br>
    </p>
</div>
<div class="small-3 columns">
    <div class="small-12 columns style2"><b>廣告影片</b></div>
    <div class="small-12 columns style3">右邊是我們的第一期廣告，簡單描述了我們的網站。</div>
</div>
<div class="small-5 columns">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IU6oaiWPXhs" frameborder="0" allowfullscreen></iframe>
</div>
<div class="small-2 columns">
    <p>
        <br>
    </p>
</div>

<div class="small-12 columns"><p><br></p></div>

<div class="small-12 columns">
    <div class="small-2 columns homeone"><p><br></p></div>
    <div class="small-2 columns homeone"><img src = "/images/Instruction1.png"><br><div class="square">尋找店家</div>想要幫助老爺爺和老奶奶嗎？點擊<b>店家地址</b>，您會看到店家的商品種類，地址，城市以及圖片。點擊<b>Google Map</b>,它將可以引導您到店家。</div>
    <div class="small-1 columns homeone"><p><br></p></div>
    <div class="small-2 columns homeone"><img src = "/images/Instruction2.png"><br><div class="square">上傳地址</div>發想身邊有需要幫助的老爺爺和老奶奶了嗎？把你所知道的詳細信息分享給大家吧！點擊<b>上傳地址</b>，填完您知道的信息後提交您的表格吧！</div>
    <div class="small-1 columns homeone"><p><br></p></div>
    <div class="small-2 columns homeone"><img src = "/images/Instruction3.png"><br><div class="square">贊助店家</div>想要貢獻您的一份力量嗎？想要幫助您身邊的人嗎？點擊<b>贊助</b>，通過paypal支付您的心意，讓老爺爺老奶奶可以更加幸福。</div>   
    <div class="small-2 columns homeone"><p><br></p></div>
</div>






<script> $(function(){
        document.getElementsByClassName("footer2")[0].style.position = "relative ";
    });
     </script>