<!DOCTYPE html>

<html>


<head>
    <title>幸福國度 － Happy Kingdom</title>
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<nav>
    <div class="small-3 columns navbar"><img src="images/logo.png"></div>
    <div class="small-9 columns navbar1">
        <ul class="navlist">
            <li><a href="/"><b>首頁</b><br><div class="navfontsize">Home</div></a></li>
            <li><a href="/address"><b>店家地址</b><br><div class="navfontsize">StoreAddress</div></a></li>
            <li><a href="/form"><b>上傳地址</b><br><div class="navfontsize">SubmitAddress</div></a></li>
            <li><a href="/donation"><b>贊助</b><br><div class="navfontsize">Donation</div></a></li>
            <li><a href="/contact"><b>聯絡方式</b><br><div class="navfontsize">Contact</div></a></li>
        </ul>
    </div>


</nav>


<body>
    {{{content}}}

    <script type="text/javascript" src="js/script.js"></script>
</body>

<footer class="footer1">
    <div class="small-10 small-offset-1 columns footer2">
        <div class ="small-3 columns">
        <a href="https://www.facebook.com/happykingdomofficial/"><img src = "images/fbfanpage.png"></a>
        </div>
        <div class ="small-9 columns"><b>Design By Yi Ting @2017</b></div>
    </div>

</footer>

</html>